<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-15 text-white">
        <div class="nav">
            <a class="text-blue-500" href="/read">Read Users</a>
            <a class="text-blue-500" href="/read"></a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Update User</h1>
        <form action="/update/<%=user._id %>" method="post">
            <input class="px-5 py-3 border-2 border-zinc-200 outline-none rounded-lg bg-transparent" name="name" type="text" placeholder="name" value="<%= user.name %>">
            <input class="px-5 py-3 border-2 border-zinc-200 outline-none rounded-lg bg-transparent" name="email" type="email" placeholder="email"value="<%= user.email %>">
            <input class="px-5 py-3 border-2 border-zinc-200 outline-none rounded-lg bg-transparent" name="image" type="text" placeholder="image url"value="<%= user.image %>">
            <input class="px-5 py-2 bg-yellow-500 rounded-lg text-black" type="submit" value="Update User">
        </form>
    </div>
</body>
</html>